# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/projects/Debug
/projects/Release
/projects/ipch
/projects/obj
.vs
*.opensdf
*.pdb
*.ilk
*.exp
*.sdf
*.suo
/projects/*.suo
/projects/YBehaviorEditor/obj
/projects/YBehaviorEditor/YBehaviorEditorCore/obj
/projects/YBehaviorEditor/YBehaviorEditorCore/bin
/projects/YBehaviorEditor/bin/Debug
/projects/YBehaviorEditor/bin/Release
/projects/YBehaviorEditor/.vs
/projects/.vs
/build
*.iobj
*.ipdb
projects/YBehaviorEditor/bin/user.ini
/projects/x64
/projects/YBehaviorSharp/obj
/projects/TestSharp/obj
/projects/x64
/projects/TestSharp/bin
/projects/UnityTest/YBTest/Library
/projects/UnityTest/YBTest/Logs
/projects/UnityTest/YBTest/Temp
/projects/UnityTest/YBTest/Android
/projects/UnityTest/YBTest/Src/YBTest/bin
/projects/UnityTest/YBTest/Src/YBTest/Library
/projects/UnityTest/YBTest/Src/YBTest/obj
/projects/UnityTest/YBTest/Src/YBTest/.vs
/projects/UnityTest/YBTest/obj
/projects/UnityTest/YBTest/Assembly-CSharp.csproj
/projects/UnityTest/YBTest/Assembly-CSharp-Editor.csproj
/projects/UnityTest/YBTest/Unity.CollabProxy.Editor.csproj
/projects/UnityTest/YBTest/Unity.Rider.Editor.csproj
/projects/UnityTest/YBTest/Unity.TextMeshPro.csproj
/projects/UnityTest/YBTest/Unity.TextMeshPro.Editor.csproj
/projects/UnityTest/YBTest/Unity.VSCode.Editor.csproj
/projects/UnityTest/YBTest/UnityEditor.TestRunner.csproj
/projects/UnityTest/YBTest/UnityEngine.TestRunner.csproj
/projects/UnityTest/YBTest/YBTest.csproj
/projects/UnityTest/YBTest/YBTest.sln
/projects/UnityTest/YBTest/YBTest.Editor.csproj
/projects/UnityTest/YBTest/.vs
/projects/UnityTest/YBTest/Assets/BuildLog.txt.meta
/projects/UnityTest/YBTest/Assets/BuildLog.txt
/projects/UnityTest/YBTest/Assets/StreamingAssets/Bundles
/projects/UnityTest/YBTest/Assets/StreamingAssets/Bundles.meta
projects/YBehaviorEditor/bin/keybindings.json
bin/Test
projects/TestSharp/Properties/launchSettings.json
/projects/YBehaviorSharp/bin
/projects/SharpRelease
