# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/projects/Debug
/projects/Release
/projects/ipch
/projects/obj
*.opensdf
*.pdb
*.ilk
*.exp
*.sdf
*.suo
/projects/*.suo
/projects/YBehaviorEditor/obj
/projects/YBehaviorEditor/YBehaviorEditorCore/obj
/projects/YBehaviorEditor/YBehaviorEditorCore/bin
/projects/YBehaviorEditor/bin/Debug
/projects/YBehaviorEditor/bin/Release
/projects/YBehaviorEditor/.vs
/projects/.vs
/build
*.iobj
*.ipdb
projects/YBehaviorEditor/bin/user.ini
/projects/x64
